.box {
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.subject {
    padding: 0;
    margin-bottom: 0.7rem;
    color: white;
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.movie {
    flex: 0 0 auto;
    text-align: center;
    margin-right: 5px;
    background-color: black;
    border-radius: 0.5px;
}

.movie img {
    border-radius: 6px;
}