nav {
    background-color: #333;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin: 0.5em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
}

nav a:hover {
    border-bottom: 2px solid white;
}

.layout-header {
    background-color: #264653;
    color: #f4a261;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.layout-footer {
    background-color: #264653;
    color: #e9c46a;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}